@font-face {
    font-family: 'regular';
    src: url('../fonts/typo-regular.eot');
    src: url('../fonts/typo-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/typo-regular.woff') format('woff'),
         url('../fonts/typo-regular.ttf') format('truetype'),
         url('../fonts/typo-regular.svg#typoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

::selection {
  background: rgba(147,111,27, 0.5);
  color: white;
}

body {
  font:18px/1.5 regular;
  color: rgb(147,111,27);
  margin: 0;
  padding: 0;
  letter-spacing: -0.05em;
  font-weight:400;
  text-rendering: optimizelegibility;
}

.background {
  position: fixed;
  z-index: -1;
  background-image: url(../images/bg2.jpg);
  background-size: 200%;
  background-position: center center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.overdub {
  position: fixed;
  z-index: -1;
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: regular;
  font-weight: 700;
  font-style: normal;
  color: rgb(127,91,7);
  margin:0 0 0.35em 0;
}

h2, h3, h4, h5, h6 {
  font-size: 36px;
}

h1 {
  font-size: 36px;
  color: rgb(127,91,7);
}

#badges {
  margin: 1em 0;
  width: 400px;
}

#badges a {
  vertical-align: top;
  display: inline-block;
  margin-right: 7px;
  line-height: 36px;
}

#badges a img {
  vertical-align: middle;
}



p, ul, ol, table, pre, dl {
  max-width: 600px;
  margin:0 0 1em;
}

h1, h2, h3 {
  line-height:1.1;
}

a {
  color: rgb(147,111,27);
  font-weight:400;
  text-decoration:none;
}

#content a {
  color: #2DA073;
}

a:hover, a:visited, a:active {
  color: rgb(147,111,27);
}

a small {
  font-size:11px;
  color:#FFF;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width:100%;
  max-width: 1440px;
  margin:0 auto;
}


.third, .two_third {
  overflow: hidden;
  display: inline-block;
}

.third {
  float: left;
  width: 25%;
  padding: 3%;
  margin-right: 1%;
}

.two_third {
  width: 45%;
  padding: 3%;
  background: rgba(255,255,255,1);
  border-left: 3px solid rgba(147,111,27,0.05);
  border-right: 3px solid rgba(147,111,27,0.05);
  color: rgb(147,111,27);
}

.two_third h3 {
  color: rgb(147,111,27);
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

.code textarea {
  width: 100%;
  border: none;
  font-family: source-code-pro;
  font-size: 15px;
  background: rgba(255,255,255,0.9);
  margin: 0 -5px;
  padding: 5px;
  display; inline-block;
  outline: none;
  overflow: hidden;
}

.code textarea:focus {
  outline: none;
}

.code textarea ::selection {
  background: rgba(147,111,27, 0.9);
  color: white;
}

code, pre {
  font-family: "source-code-pro", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:rgb(147,111,27);
  font-size:15px;
}

.bash.functions, .ruby.color2 {
  color: #2DA073;
}

.ruby.color1 {
  color: #D3266E;
}

.ruby.plain {
  color: rgb(147,111,27);
}

.ruby.constants {
  color: rgb(127,91,7);
}

.ruby.comments {
  color: #AAA;
}

.ruby.keyword {
  color: #4579A0;
}

.ruby.string {
  color: #DFAF3F;
}

div.ruby, div.bash {
  padding:0.35em 42px;
  background: rgba(147,111,27,0.05);
  overflow-x: auto;
  margin: 0 -42px 1em -42px;
}

table {
  width:100%;
  border-collapse:collapse;
  padding: 0;
  margin: 0;
}

th, td {
  text-align:left;
  padding: 0;
}

dt {
  color:rgb(147,111,27);
  font-weight:700;
}

th {
  color:rgb(147,111,27);;
}

img {
  max-width:100%;
}

header {
  width:27%;
  float:left;
  position:fixed;
}

header a, header a:hover, header a:visited, header a:active {
  color: rgb(147,111,27);
}

header a:hover {
  color: rgb(127,91,7);
  text-shadow: 1px 1px 0px rgba(147,111,27,0.1);
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
}

/*header ul {
  list-style:none;
  height:40px;
  
  padding:0;
  
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}*/

strong {
  color:#222;
  font-weight:700;
}

/*header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}
*/
section {
  padding:2em 0 0;
}

#about {
  padding-top: 0;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  padding: 3% 0;
}

#banner{
	height: 239px;
	width: 239px;
	overflow:hidden;
	padding: 0;
	margin: 0;
	position:fixed;
	right: 0px;
	top: 0px;
}
		
#banner a {
			
	display: block;
	width: 230px;
	font-size: 18px;
	font-family: regular, sans serif;
	background-color: #FFF;
	color: rgb(147,111,27);
	word-spacing: 2px;
	text-decoration: none;
	padding: 10px 20px 10px 30px;
	text-align: center;
  position: relative;
  top: -42px;
  left: 82px;
			
	-moz-transform-origin: 0 0 ;
	-moz-transform:rotate(45deg);
			
	-webkit-transform-origin: 0 0 ;	
	-webkit-transform:rotate(45deg);
			
	-ms-transform-origin: 0 0 ;	
	-ms-transform:rotate(45deg);
			
	transform-origin: 0 0 ;	
	transform:rotate(45deg);
			
	background-image: linear-gradient(bottom, #FFF 3%, rgb(147,111,27) 5%, #FFF 10%, #FFF 93%, rgb(147,111,27) 92%, #FFF 97%);
	background-image: -o-linear-gradient(bottom, #FFF 3%, rgb(147,111,27) 5%, #FFF 10%, #FFF 93%, rgb(147,111,27) 92%, #FFF 97%);
	background-image: -moz-linear-gradient(bottom, #FFF 3%, rgb(147,111,27) 5%, #FFF 10%, #FFF 93%, rgb(147,111,27) 92%, #FFF 97%);
	background-image: -webkit-linear-gradient(bottom, #FFF 3%, rgb(147,111,27) 5%, #FFF 10%, #FFF 93%, rgb(147,111,27) 92%, #FFF 97%);
	background-image: -ms-linear-gradient(bottom, #FFF 3%, rgb(147,111,27) 5%, #FFF 10%, #FFF 93%, rgb(147,111,27) 92%, #FFF 97%);
			
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.03, #FFF),
		color-stop(0.05, rgb(147,111,27)),
		color-stop(0.07, #FFF),
		color-stop(0.93, #FFF),
		color-stop(0.95, rgb(147,111,27)),
		color-stop(0.97, #FFF)
	);	
			
}

@media print, screen and (max-width: 1200px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  .two_third {
    width: 55%;
    border-bottom: 3px solid rgba(147,111,27,0.05);
  }
  
/*  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }*/
  
  footer {
    position: static;
  }
  
  #badges a {
    float: left;
    clear: left;
    line-height: 20px;
  }
  
  section {

  }
  
  header a small {
    display:inline;
  }
  
/*  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }*/
}

@media print, screen and (max-width: 720px) {
  
  .background {
    background-size: 300%;
  }
  
  #banner {
    width: 150px;
    height: 150px;
  }
  
  #banner a {
    font-size: 14px;
    width: 150px;
    left: 45px;
    top: -35px;
  }
  body {
    word-wrap:break-word;
    font-size: 14px;
  }
  
  div.ruby, div.bash, code, pre {
    font-size: 10px;
  }
  
  header {
    padding:0;
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-size: 28px;
  }
  
  header ul, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  
  .two_third {
    border-top: 3px solid rgba(147,111,27,0.05);
    width: 90%;
  }
  
  .third {
    padding: 3% 3% 0 3%;
  }
  
  header {
    position: static;
  }
  
  body {
    padding:15px;
  }
  
  header, .third {
    width: 100%;
  }
  header ul {
    display:none;
  }
}

@media print {
  
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
  
}
